<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../include/head.html')

    <title>퍼블리싱 | 포스트 코로나 대응 MICE 온.오프라인연계전시.컨벤션 통합 지원 서비스 플랫폼</title>

    @@include('../include/header_sub.html')
  </head>
  <body>
    @@include('../include/skipNav.html')

    <!-- SNB -->
    @@include('../include/snb.html')

    <!-- 본문 -->
    <!-- S #container -->
    <main id="container">
      <div class="inner">
        <!-- 타이틀 -->
        <header class="heading-title-Wrap">
          <h2>
            <i class="icon icon-pub--tit"></i>
            &nbsp;퍼블리싱
          </h2>
          <span class="desc">직접 제작하는 메타버스 퍼블리싱 하는 공간입니다.</span>
        </header>

        <div class="contents">
          <!-- 탭 메뉴 -->
          <ul class="tab-menu">
            <li><a href="">활성 공간</a></li>
            <li><a href="">비활성 공간</a></li>
            <li class="active"><a href="">전체 공간</a></li>
          </ul>

          <!-- 목록 -->
          <div class="list-wrap">
            <ul class="grid-wrap col-5">
              <li class="grid-item">
                <div class="list-item new">
                  <a href="#" class="btn-create-new">
                    <span>
                      <i class="icon icon-create-new"> <em class="hidden-txt">아이콘</em> </i><br />
                      <em>새로운 공간 생성</em>
                    </span>
                  </a>
                </div>
              </li>
              <li class="grid-item">
                <div class="list-item">
                  <div class="thumb-box">
                    <span class="list-tag">
                      <i class="icon icon-finish"></i>
                      <em>공개 완료</em>
                    </span>
                    <a href="#">
                      <img src="../assets/images/sample/sample-thumb-1.jpg" alt="title 1" />
                    </a>
                  </div>
                  <div class="txt-box">
                    <a href="#"><em>title 1</em></a>
                    <div class="toolTipBox" tabindex="0">
                      <i class="icon icon-dot edit"><em class="hidden-txt">맵 편집 도구</em></i>
                      @@include('../include/tooltip4.html')
                    </div>
                  </div>
                </div>
              </li>
              <li class="grid-item">
                <div class="list-item disabled">
                  <div class="thumb-box">
                    <a href="#">
                      <img src="../assets/images/sample/sample-thumb-2.jpg" alt="title 2" />
                    </a>
                  </div>
                  <div class="txt-box">
                    <a href="#"><em>title 2</em></a>
                    <div class="toolTipBox" tabindex="0">
                      <i class="icon icon-dot edit"><em class="hidden-txt">맵 편집 도구</em></i>
                      @@include('../include/tooltip5.html')
                    </div>
                  </div>
                </div>
              </li>
              @@for(var i = 3; i < 15; i++){
              <li class="grid-item">
                <div class="list-item">
                  <div class="thumb-box">
                    <a href="#">
                      <img src="../assets/images/sample/sample-thumb-`+i+`.jpg" alt="title `+i+`" />
                    </a>
                  </div>
                  <div class="txt-box">
                    <a href="#"><em>title `+i+`</em></a>
                    <div class="toolTipBox" tabindex="0">
                      <i class="icon icon-dot edit"><em class="hidden-txt">맵 편집 도구</em></i>
                      @@include('../include/tooltip4.html')
                    </div>
                  </div>
                </div>
              </li>
              }
            </ul>
          </div>

          <!-- 모달 -->

          <!-- 공간 비활성화 -->
          <div class="modal animate fast zoomOut" id="modal-areaDisabled">
            <div class="modal-header">
              <h4>
                <span class="hidden-txt">공간 비활성화</span>
                <i class="icon icon-notice--hover-2x"></i>
              </h4>
            </div>
            <div class="modal-body">
              <div class="modal-contents">
                <strong>공간을 비활성하시겠습니까?</strong><br />
                <span>
                  비활성화된 공간은 수정이 불가능하며<br />
                  비활성맵 리스트에서 확인할 수 있습니다.
                </span>
              </div>
              <div class="btn-wrapper col-2">
                <button type="button" class="btn-close-modal"><em>취소</em></button>
                <button type="button" class="btn-green"><em>확인</em></button>
              </div>
            </div>
          </div>

          <!-- 공간 삭제 -->
          <div class="modal animate fast zoomOut" id="modal-areaDelete">
            <div class="modal-header">
              <h4>
                <span class="hidden-txt">공간 삭제</span>
                <i class="icon icon-notice--hover-2x"></i>
              </h4>
            </div>
            <div class="modal-body">
              <div class="modal-contents">
                <strong>공간을 삭제하시겠습니까?</strong><br />
                <span> 삭제한 공간은 복원할 수 없습니다. </span>
              </div>
              <div class="btn-wrapper col-2">
                <button type="button" class="btn-close-modal"><em>취소</em></button>
                <button type="button" class="btn-green"><em>확인</em></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      @@include('../include/btnManual.html')
    </main>
    <!-- E #container -->
  </body>
</html>
