<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../include/head.html')

    <title>공간 테마 정보 관리 | 포스트 코로나 대응 MICE 온.오프라인연계전시.컨벤션 통합 지원 서비스 플랫폼</title>

    @@include('../include/header_sub.html')
  </head>
  <body>
    @@include('../include/skipNav.html')

    <!-- SNB -->
    @@include('../include/snb.html')

    <!-- 본문 -->
    <!-- S #container -->
    <main id="container">
      <div class="inner">
        <!-- 타이틀 -->
        <header class="heading-title-Wrap">
          <h2>
            <i class="icon icon-theme--tit"></i>
            &nbsp;공간 테마 정보 관리
          </h2>
          <span class="desc">기본 메타버스 행사 맵을 생성할 수 있습니다.</span>
        </header>

        <div class="contents">
          <!-- 검색 -->
          <div class="form-wrap">
            <dl class="table">
              <dt>검색어</dt>
              <dd>
                <div class="text-wrap">
                  <input type="text" placeholder="검색어를 입력해주세요." />
                </div>
              </dd>
            </dl>
            <hr />
            <div class="grid-wrap col-2">
              <dl class="table">
                <dt>
                  공간 테마<br />
                  카테고리
                </dt>
                <dd>
                  <div class="select-wrap">
                    <select class="wide" title="공간 테마 카테고리" name="" id="">
                      <option value="all">전체</option>
                    </select>
                  </div>
                </dd>
              </dl>
              <dl class="table">
                <dt>행사 스타일</dt>
                <dd>
                  <div class="select-wrap">
                    <select class="wide" title="행사 스타일" name="" id="">
                      <option value="all">전체</option>
                    </select>
                  </div>
                </dd>
              </dl>
              <dl class="table">
                <dt>행사종류</dt>
                <dd>
                  <div class="select-wrap">
                    <select class="wide" title="행사종류" name="" id="">
                      <option value="all">전체</option>
                    </select>
                  </div>
                </dd>
              </dl>
              <dl class="table">
                <dt>행사 장소</dt>
                <dd>
                  <div class="select-wrap">
                    <select class="wide" title="행사 장소" name="" id="">
                      <option value="all">전체</option>
                    </select>
                  </div>
                </dd>
              </dl>
              <dl class="table">
                <dt>설정완료<br />여부</dt>
                <dd>
                  <div class="select-wrap">
                    <select class="wide" title="설정완료 여부" name="" id="">
                      <option value="all">전체</option>
                    </select>
                  </div>
                </dd>
              </dl>
            </div>
            <div class="btn-wrapper">
              <button type="button"><em>초기화</em></button>
              <button type="button" class="btn-green"><em>검색</em></button>
            </div>
          </div>

          <!-- 목록 -->
          <div class="list-wrap">
            <div class="list-header clear">
              <p class="txt-info l-box"><i class="icon icon-notice"></i>&nbsp; 전체 <b>19건</b>이 조회되었습니다.</p>
              <div class="filter-wrap r-box">
                <span>1페이지 출력수</span>
                <span class="select-wrap default">
                  <label for="pageOutputs"><em class="hidden-txt">1페이지 출력수 선택</em></label>
                  <select name="" id="pageOutputs">
                    <option value="10">10개 출력</option>
                    <option value="50">50개 출력</option>
                    <option value="100">100개 출력</option>
                  </select>
                </span>
              </div>
            </div>
            <ul class="grid-wrap col-5">
              <li class="grid-item">
                <div class="list-item">
                  <div class="thumb-box">
                    <a href="javascript:void(0);" class="btn-active-modal" data-modal-name="areaNameUpdate">
                      <img src="../assets/images/sample/sample-thumb-1.jpg" alt="가상 컨벤션 1" />
                    </a>
                  </div>
                  <div class="txt-box non-rounded type-02">
                    <a href="javascript:void(0);" class="btn-active-modal" data-modal-name="areaNameUpdate"
                      ><em>가상 컨벤션 1</em></a
                    >
                    <div class="toolTipBox tipInfo _hover" tabindex="0">
                      <i class="icon icon-notice"><em class="hidden-txt">설명 툴팁</em></i>
                      @@include('../include/tooltip.html')
                    </div>
                  </div>
                  <div class="info-box"><em>정보 미등록</em></div>
                </div>
              </li>
              <li class="grid-item">
                <div class="list-item">
                  <div class="thumb-box">
                    <span class="list-tag">
                      <i class="icon icon-finish"></i>
                      <em>설정 완료</em>
                    </span>
                    <a href="javascript:void(0);" class="btn-active-modal" data-modal-name="areaNameUpdate">
                      <img src="../assets/images/sample/sample-thumb-2.jpg" alt="가상 컨벤션 2" />
                    </a>
                  </div>
                  <div class="txt-box non-rounded type-02">
                    <a href="javascript:void(0);" class="btn-active-modal" data-modal-name="areaNameUpdate"
                      ><em>가상 컨벤션 2</em></a
                    >
                    <div class="toolTipBox tipInfo _hover" tabindex="0">
                      <i class="icon icon-notice"><em class="hidden-txt">설명 툴팁</em></i>
                      @@include('../include/tooltip.html')
                    </div>
                  </div>
                  <div class="info-box">
                    <em> 새로운 공간 테마 · 디지털 트윈 · 컨퍼런스3000명 · 자동배치 없음 </em>
                  </div>
                </div>
              </li>
              @@for(var i = 3; i < 15; i++){
              <li class="grid-item">
                <div class="list-item">
                  <div class="thumb-box">
                    <a href="javascript:void(0);" class="btn-active-modal" data-modal-name="areaNameUpdate">
                      <img src="../assets/images/sample/sample-thumb-`+i+`.jpg" alt="가상 컨벤션 `+i+`" />
                    </a>
                  </div>
                  <div class="txt-box non-rounded type-02">
                    <a href="javascript:void(0);" class="btn-active-modal" data-modal-name="areaNameUpdate"
                      ><em>가상 컨벤션 `+i+`</em></a
                    >
                    <div class="toolTipBox tipInfo _hover" tabindex="0">
                      <i class="icon icon-notice"><em class="hidden-txt">설명 툴팁</em></i>
                      @@include('../include/tooltip.html')
                    </div>
                  </div>
                  <div class="info-box">
                    <em> 스마트 빌드 · 미등록 · 미등록 미등록 · 미등록 </em>
                  </div>
                </div>
              </li>
              }
            </ul>
          </div>

          <!-- 페이징 -->
          <div class="paging">
            <a href="#" class="first"><em class="hidden-txt">첫 페이지</em></a>
            <a href="#" class="prev"><em class="hidden-txt">이전 페이지</em></a>
            <span>1</span>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#" class="next"><em class="hidden-txt">다음 페이지</em></a>
            <a href="#" class="last"><em class="hidden-txt">마지막 페이지</em></a>
          </div>

          <!-- 모달 -->
          <!-- 새로운 공간 이름 작성 -->
          <div class="modal type2 animate fast zoomOut" id="modal-areaNameUpdate">
            <div class="modal-header">
              <h4>
                <span>새로운 공간 이름 작성</span>
              </h4>
            </div>
            <div class="modal-body">
              <div class="modal-contents">
                <label for="map-name">공간 이름</label>
                <span class="txt-byte">
                  <input id="map-name" type="text" value="Kintex_beautycon_005" />
                  <em>(20&#47;40)</em>
                </span>
              </div>
              <div class="btn-wrapper col-2">
                <button type="button" class="btn-close-modal"><em>취소</em></button>
                <button type="button" class="btn-green btn-active-modal" data-modal-name="createNewArea"><em>확인</em></button>
              </div>
            </div>
          </div>

          <!-- 새로운 공간 생성 -->
          <div class="modal animate fast zoomOut" id="modal-createNewArea">
            <div class="modal-header">
              <h4>
                <span class="hidden-txt">새로운 맵 생성</span>
                <i class="icon icon-notice--hover-2x"></i>
              </h4>
            </div>
            <div class="modal-body">
              <div class="modal-contents">
                <strong>
                  새로운 공간이 생성되었습니다.<br />
                  마이맵 메뉴에서 확인 할 수 있습니다.
                </strong>
              </div>
              <div class="btn-wrapper col-2">
                <button type="button" class="btn-green btn-close-modal"><em>확인</em></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      @@include('../include/btnManual.html')
    </main>
    <!-- E #container -->
  </body>
</html>
