<li class="grid-item">
  <div class="list-item">
    <div class="thumb-box">
      <a href="#">
        <img src="../assets/images/sample/m-sample-thumb-01.jpg" alt="새로운 나라" />
      </a>
    </div>
    <div class="txt-box">
      <a href="#">새로운 나라</a>
      <div class="toolTipBox" tabindex="0">
        <i class="icon icon-dot edit"><em class="hidden-txt">맵 편집 도구</em></i>
        @@include('../include/tooltip2.html')
      </div>
    </div>
  </div>
</li>
<li class="grid-item">
  <div class="list-item">
    <div class="thumb-box">
      <span class="list-tag">
        <i class="icon icon-finish"></i>
        <em>퍼블리싱 완료</em>
      </span>
      <a href="#">
        <img src="../assets/images/sample/m-sample-thumb-02.jpg" alt="다양한 공원" />
      </a>
    </div>
    <div class="txt-box">
      <a href="#">다양한 공원</a>
      <div class="toolTipBox" tabindex="0">
        <i class="icon icon-dot edit"><em class="hidden-txt">맵 편집 도구</em></i>
        @@include('../include/tooltip2.html')
      </div>
    </div>
  </div>
</li>
<li class="grid-item">
  <div class="list-item">
    <div class="thumb-box">
      <a href="#">
        <img src="../assets/images/sample/m-sample-thumb-03.jpg" alt="마트" />
      </a>
    </div>
    <div class="txt-box">
      <a href="#">마트</a>
      <div class="toolTipBox" tabindex="0">
        <i class="icon icon-dot edit"><em class="hidden-txt">맵 편집 도구</em></i>
        @@include('../include/tooltip2.html')
      </div>
    </div>
  </div>
</li>
<li class="grid-item">
  <div class="list-item">
    <div class="thumb-box">
      <a href="#">
        <img src="../assets/images/sample/m-sample-thumb-04.jpg" alt="학교" />
      </a>
    </div>
    <div class="txt-box">
      <a href="#">학교</a>
      <div class="toolTipBox" tabindex="0">
        <i class="icon icon-dot edit"><em class="hidden-txt">맵 편집 도구</em></i>
        @@include('../include/tooltip2.html')
      </div>
    </div>
  </div>
</li>
<li class="grid-item">
  <div class="list-item disabled">
    <div class="thumb-box">
      <a href="#">
        <img src="../assets/images/sample/m-sample-thumb-05.jpg" alt="미술관" />
      </a>
    </div>
    <div class="txt-box">
      <a href="#">미술관</a>
      <div class="toolTipBox" tabindex="0">
        <i class="icon icon-dot edit"><em class="hidden-txt">맵 편집 도구</em></i>
        @@include('../include/tooltip3.html')
      </div>
    </div>
  </div>
</li>
