<li class="grid-item">
  <div class="list-item">
    <div class="thumb-box">
      <span class="list-tag">
        <i class="icon icon-finish"></i>
        <em>공개 완료</em>
      </span>
      <a href="#">
        <img src="../assets/images/sample/p-sample-thumb-01.jpg" alt="대구 엑스코 켓페어" />
      </a>
    </div>
    <div class="txt-box">
      <a href="#">대구 엑스코 켓페어</a>
      <div class="toolTipBox" tabindex="0">
        <i class="icon icon-dot edit"><em class="hidden-txt">맵 편집 도구</em></i>
        @@include('../include/tooltip4.html')
      </div>
    </div>
  </div>
</li>
<li class="grid-item">
  <div class="list-item">
    <div class="thumb-box">
      <a href="#">
        <img src="../assets/images/sample/p-sample-thumb-02.jpg" alt="신라호텔 로레알기업컨퍼런스" />
      </a>
    </div>
    <div class="txt-box">
      <a href="#">신라호텔 로레알기업컨퍼런스</a>
      <div class="toolTipBox" tabindex="0">
        <i class="icon icon-dot edit"><em class="hidden-txt">맵 편집 도구</em></i>
        @@include('../include/tooltip4.html')
      </div>
    </div>
  </div>
</li>
<li class="grid-item">
  <div class="list-item">
    <div class="thumb-box">
      <a href="#">
        <img src="../assets/images/sample/p-sample-thumb-03.jpg" alt="코엑스 전시관" />
      </a>
    </div>
    <div class="txt-box">
      <a href="#">코엑스 전시관</a>
      <div class="toolTipBox" tabindex="0">
        <i class="icon icon-dot edit"><em class="hidden-txt">맵 편집 도구</em></i>
        @@include('../include/tooltip4.html')
      </div>
    </div>
  </div>
</li>
<li class="grid-item">
  <div class="list-item disabled">
    <div class="thumb-box">
      <a href="#">
        <img src="../assets/images/sample/p-sample-thumb-04.jpg" alt="가상 페라리 컨퍼런스" />
      </a>
    </div>
    <div class="txt-box">
      <a href="#">가상 페라리 컨퍼런스</a>
      <div class="toolTipBox" tabindex="0">
        <i class="icon icon-dot edit"><em class="hidden-txt">맵 편집 도구</em></i>
        @@include('../include/tooltip5.html')
      </div>
    </div>
  </div>
</li>
