<li class="grid-item">
  <div class="list-item">
    <div class="thumb-box">
      <a href="javascript:void(0);" class="btn-active-modal" data-modal-name="areaNameUpdate">
        <img src="../assets/images/sample/c-sample-thumb-01.jpg" alt="가상 미팅룸" />
      </a>
    </div>
    <div class="txt-box">
      <a href="javascript:void(0);" class="btn-active-modal" data-modal-name="areaNameUpdate">가상 미팅룸</a>
      <div class="toolTipBox tipInfo _hover" tabindex="0">
        <i class="icon icon-notice"><em class="hidden-txt">설명 툴팁</em></i>
        @@include('../include/tooltip.html')
      </div>
    </div>
  </div>
</li>
<li class="grid-item">
  <div class="list-item">
    <div class="thumb-box">
      <a href="javascript:void(0);" class="btn-active-modal" data-modal-name="areaNameUpdate">
        <img src="../assets/images/sample/c-sample-thumb-02.jpg" alt="엑스코 전시A홀" />
      </a>
    </div>
    <div class="txt-box">
      <a href="javascript:void(0);" class="btn-active-modal" data-modal-name="areaNameUpdate">엑스코 전시A홀</a>
      <div class="toolTipBox tipInfo _hover" tabindex="0">
        <i class="icon icon-notice"><em class="hidden-txt">설명 툴팁</em></i>
        @@include('../include/tooltip.html')
      </div>
    </div>
  </div>
</li>
<li class="grid-item">
  <div class="list-item">
    <div class="thumb-box">
      <a href="javascript:void(0);" class="btn-active-modal" data-modal-name="areaNameUpdate">
        <img src="../assets/images/sample/c-sample-thumb-03.jpg" alt="엑스코 전시B홀" />
      </a>
    </div>
    <div class="txt-box">
      <a href="javascript:void(0);" class="btn-active-modal" data-modal-name="areaNameUpdate">엑스코 전시B홀</a>
      <div class="toolTipBox tipInfo _hover" tabindex="0">
        <i class="icon icon-notice"><em class="hidden-txt">설명 툴팁</em></i>
        @@include('../include/tooltip.html')
      </div>
    </div>
  </div>
</li>
<li class="grid-item">
  <div class="list-item">
    <div class="thumb-box">
      <a href="javascript:void(0);" class="btn-active-modal" data-modal-name="areaNameUpdate">
        <img src="../assets/images/sample/c-sample-thumb-04.jpg" alt="엑스코 오디토리움" />
      </a>
    </div>
    <div class="txt-box">
      <a href="javascript:void(0);" class="btn-active-modal" data-modal-name="areaNameUpdate">엑스코 오디토리움</a>
      <div class="toolTipBox tipInfo _hover" tabindex="0">
        <i class="icon icon-notice"><em class="hidden-txt">설명 툴팁</em></i>
        @@include('../include/tooltip.html')
      </div>
    </div>
  </div>
</li>
