<aside class="side" id="snb">
  <header class="side-header">
    <h1>
      <span>포스트 코로나 대응 MICE</span><br />
      <span>온&middot;오프라인연계전시.컨벤션</span><br />
      <strong>통합 지원 서비스 플랫폼</strong>
    </h1>
    <div class="user">
      <span class="user-thumb"> <img src="../assets/images/sample/profile-thumbnail.png" alt="프로필" /> </span><br />
      <span class="user-name">PCNUSER01</span><br />
      <button class="sign-out" type="button">
        <em><i class="icon icon-signout f-icon"></i>로그아웃</em>
      </button>
    </div>
  </header>
  <div class="side-mid customedScroll">
    <div class="main-menu">
      <ul>
        <li>
          <a href="../create/list.html">
            <span><i class="icon icon-add f-icon"></i>새로운 맵 생성</span>
          </a>
        </li>
        <li>
          <a href="../mymap/list.html">
            <span><i class="icon icon-map f-icon"></i>마이맵</span>
          </a>
        </li>
        <li>
          <a href="../publishing/list.html">
            <span><i class="icon icon-pub f-icon"></i>퍼블리싱</span>
          </a>
        </li>
        <li>
          <a href="../smartbuild/list_01.html">
            <span><i class="icon icon-build f-icon"></i>스마트 빌드</span>
          </a>
        </li>
        <li>
          <a href="../theme/list.html">
            <span><i class="icon icon-refresh f-icon"></i>공간 테마 정보 관리</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="sub-menu">
      <ul>
        <li><a href="#">MICE지식교육사이트</a></li>
        <li><a href="#">의사결정지원도구</a></li>
        <li><a href="#">라이선스 문의</a></li>
        <li><a href="../manual/list.html">매뉴얼</a></li>
        <li><a href="../notice/user_list.html"">공지사항</a></li>
        <li><a href="../faq/user_list.html"">FAQ</a></li>
      </ul>
    </div>
  </div>
  <div class="side-footer">
    <button class="qna" type="button"><i class="icon icon-qna f-icon"></i>문의하기</button>
    <span>v.1.2</span>
  </div>
</aside>
