<div class="toolTip">
  <div>
    <figure><img src="../assets/images/sample/c-sample-icon.png" alt="bexco" /></figure>
    <span>
      벡스코 전시장은 3개의 홀로 분할 가능한 총 26,508m 2의 제1전시장과 19,872m2의 제2전시장으로 이루어져 총 실내 전시 면적이
      46,380m2 규모로 20,000m2 이상의 대형국제행사를 동시에 2건 이상 개최할 수 있다.
    </span>
    <span class="txt-green">
      <em>전시A홀</em><br />
      <em>규모 : 1,440㎡</em><br />
      <em>주요용도 : 국제회의 및 각종 세미나 등</em><br />
      <em>특징 : 고급스러운 회의분위기 연출 가능 전동스크린 (200″, 300″)</em>
    </span>
  </div>
</div>
