<div class="toolTip">
  <div>
    <ul>
      <li>
        <a href="javascript:void(0);" class="btn-active-modal" data-modal-name="mapPublishing">맵 퍼블리싱</a>
      </li>
      <li>
        <a href="javascript:void(0);">맵 수정</a>
      </li>
      <li>
        <a href="javascript:void(0);" class="btn-active-modal" data-modal-name="mapNameUpdate">맵 이름 변경</a>
      </li>
      <li>
        <a href="javascript:void(0);" class="btn-active-modal" data-modal-name="mapDisabled">맵 비활성화</a>
      </li>
    </ul>
  </div>
</div>
