/**
 * ==============================+
 * form style
 * ==============================+
 */

button {
  background-color: transparent;
  box-shadow: none;
}

.btn-wrapper {
  font-size: 0;
  text-align: center;

  &.inline {
    display: inline-block;
  }

  button {
    display: inline-block;
    line-height: 50px;
    min-width: 190px;
    padding: 0 20px;
    background-color: $gray3;
    border-radius: 10px;

    @include _bp(1680px) {
      min-width: 120px;
    }

    &.sm {
      line-height: 40px;
      border-radius: 5px;
    }

    &.sm2 {
      line-height: 38px;
      border-radius: 5px;
      min-width: 140px;
    }

    &.xs {
      min-width: 80px;
      line-height: 30px;
      border-radius: 5px;
    }

    &.border {
      border: 1px solid currentColor;
      background-color: transparent;
      color: $white;
    }

    &.txtColor {
      &.green {
        &,
        & * {
          color: $green !important;
        }
      }
    }

    &.btn-green {
      background-color: $green;
    }

    &.btn-purple {
      background-color: $purple;
    }

    em {
      font-size: 1.6rem;
      color: $white;
    }

    & + button {
      margin-left: 10px;
    }
  }

  &.col-2 {
    button {
      width: 49%;

      & + button {
        margin-left: 2%;
      }
    }
  }
}

/*switch*/
.switch-wrap {
  span {
    display: inline-block;
    font-size: 0;
    position: relative;

    input[type='checkbox'] {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;

      & + label {
        display: inline-block;
        width: 60px;
        height: 30px;
        padding: 0 5px;
        background-color: $gray3;
        border-radius: 30px;

        &::before {
          width: 23px;
          height: 23px;
          border-radius: 50%;
          position: absolute;
          top: 50%;
          right: -webkit-calc(100% - 27px);
          right: -moz-calc(100% - 27px);
          right: calc(100% - 27px);
          @include transform(translateY(-50%));
          @include transition(all ease-out 0.2s);
          background-color: $gray2;
          z-index: 10;
          content: '';
        }

        span {
          &.block {
            display: block;
          }
        }

        b {
          font-size: 1.2rem;
          line-height: 30px;
          text-transform: uppercase;
          letter-spacing: -0.7px;
        }
      }

      &:focus + label {
        outline: 1px dashed lighten($green, 10%);
        outline-offset: 1px;
      }

      &:checked + label {
        background-color: $green;

        &::before {
          right: 4px;
          background-color: $white;
        }
      }
    }
  }
}

/*checkbox*/
.chk-wrap {
  &.inline {
    display: inline-block;
  }

  span {
    display: inline-block;
    font-size: 0;
    position: relative;

    input[type='checkbox'] {
      position: absolute;
      left: 0;
      top: 0;
      border: 0;
      width: 16px;
      height: 16px;
      opacity: 0;

      & + label {
        display: inline-block;
        padding-left: 26px;
        height: 16px;
        vertical-align: top;
        line-height: 16px;

        &::before {
          position: absolute;
          left: 0;
          top: 0;
          width: 16px;
          height: 16px;
          border-radius: 3px;
          background-color: transparent;
          border: 1px solid #969797;
          content: '';
        }

        &::after {
          position: absolute;
          left: 4px;
          top: 4px;
          @include icon;
          @include icon-checked;
        }

        em {
          display: inline-block;
          line-height: 1;
          text-align: left;
          font-size: 1.7rem;
          margin-top: -1px;
        }
      }

      &:focus + label {
        outline: 1px dashed lighten($green, 10%);
        outline-offset: 1px;
      }

      &:checked {
        & + label {
          &::before {
            border: 1px solid $green;
            box-shadow: 0 0 3px 1px rgb(45, 208, 133, 0.34);
          }

          &::after {
            content: '';
          }
        }
      }
    }
    & + span {
      margin-left: 20px;
    }
  }

  [class*='col-'] span input[type='checkbox'] + label {
    height: auto;
  }
}

/*radio*/
.radio-wrap {
  span {
    display: inline-block;
    font-size: 0;
    position: relative;
    color: $white;

    input[type='radio'] {
      position: absolute;
      left: 0;
      top: 0;
      border: 0;
      width: 20px;
      height: 20px;
      opacity: 0;

      & + label {
        display: inline-block;
        padding-left: 30px;
        height: 20px;
        vertical-align: top;
        line-height: 1;
        font-size: 1.6rem;

        &::before {
          position: absolute;
          left: 5px;
          top: 5px;
          width: 8px;
          height: 8px;
          border: none;
          border-radius: 50%;
          background-color: $green;
          z-index: 1;
        }

        &::after {
          position: absolute;
          left: 0;
          top: 0;
          width: 18px;
          height: 18px;
          border-width: 1px;
          border-style: solid;
          border-color: $gray2;
          border-radius: 50%;
          background-color: transparent;
          content: '';
        }

        em {
          display: inline-block;
          line-height: 1;
          font-size: 1.7rem;
        }
      }

      &:focus + label {
        outline: 1px dashed lighten($green, 10%);
        outline-offset: 1px;
      }

      &:checked + label {
        &::before,
        &::after {
          box-shadow: 0 0 3px 1px rgb(45, 208, 133, 0.34);
        }
        &::before {
          content: '';
        }
        &::after {
          border-color: $green;
        }
      }
    }

    & + span {
      margin-left: 20px;
    }
  }

  &[class*='col-'] span input[type='radio'] + label {
    height: auto;
  }
}

.radio-list-wrap {
  font-size: 0;

  &.inline {
    display: inline-block;
  }

  &.block {
    span {
      width: 100%;
      margin: 5px 0;
    }
  }

  &.type-02 {
    span {
      margin: 0 5px;
      min-width: 120px;

      @include _bp(1680px) {
        min-width: auto;
      }
    }
  }

  span {
    display: inline-block;
    margin: 5px;
    position: relative;

    input[type='radio'] {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;

      &:checked + label {
        background-color: $green;
      }

      &:focus + label {
        outline: 1px dashed lighten($green, 10%);
        outline-offset: 1px;
      }

      &:hover + label {
        &::before {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: transparent;
          border: 1px solid $green;
          border-radius: 25px;
          box-shadow: 0 0 3px 1px rgb(45, 208, 133, 0.34);
          content: '';
        }
      }

      & + label {
        display: block;
        padding: 0 20px;
        line-height: 37px;
        height: 40px;
        border-radius: 25px;
        background-color: $darkGray2;
        color: $white;
        font-size: 1.4rem;
        text-align: center;

        em {
          display: inline-block;
          line-height: 1.2;
          vertical-align: middle !important;
        }
      }
    }
  }
}

/*select*/
.select-wrap {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 40px;
  border: none;
  vertical-align: top;
  font-size: 0;
  border-radius: 7px;

  &.default {
    width: auto;

    select {
      min-width: 150px;
      border-color: $gray3;
      border-radius: 5px;
      color: $gray2;
      font-size: 1.4rem;
    }
  }

  label {
    position: absolute;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &::after {
      position: absolute;
      top: 17px;
      right: 11px;
      @include icon;
      @include icon-arrow-down-gr;
      z-index: 11;
      content: '';
    }
  }

  select {
    position: relative;
    display: inline-block;
    min-width: 180px;
    width: 100%;
    padding: 0 48px 0 18px;
    line-height: 40px;
    height: 40px;
    border: 1px solid transparent;
    color: $white;
    background-color: transparent;
    z-index: 10;
    font-size: 1.6rem;

    &::-ms-expand {
      display: none;
    }
  }
}

/*text*/
.text-wrap {
  width: 100%;
  display: inline-block;
  position: relative;
  font-size: 0;
  text-align: left;

  input[type='text'] {
    width: 100%;
    height: 40px;
    padding: 0 20px;
    font-size: 1.6rem;
    color: $white;
    background-color: $darkGray2;
    border-radius: 7px;

    &.bg-none {
      background-color: transparent;
      border: 1px solid $gray3;
    }
  }

  &.calendar {
    width: 250px;
    position: relative;

    @include _bp(1680px) {
      width: 210px;
    }

    input[type='text'] {
      padding-right: 50px;
      color: $gray2;
    }

    &::after {
      @include icon;
      @include icon-calendar;
      position: absolute;
      top: 10px;
      right: 20px;
      pointer-events: none;
      content: '';
    }

    & + .calendar {
      margin-left: 30px;

      &::before {
        position: absolute;
        width: 30px;
        text-align: center;
        left: -32px;
        color: $gray2;
        font-size: 2.4rem;
        content: '~';
      }
    }
  }

  &.time {
    width: 250px;
    position: relative;

    input[type='text'] {
      padding-right: 50px;
      color: $gray2;
    }

    &::before {
      @include icon;
      @include icon-time;
      position: absolute;
      top: 10px;
      right: 20px;
      content: '';
    }
  }

  textarea {
    width: 100%;
    padding: 20px;
    font-size: 1.6rem;
    color: $white;
    background-color: $darkGray2;
    border-radius: 7px;
    resize: vertical;
  }

  &.md {
    width: 500px;

    @include _bp(1680px) {
      width: 350px;
    }
  }

  &.sm {
    input[type='text'] {
      height: 30px;
      font-size: 1.4rem;
    }
    p {
      line-height: 30px;
    }
  }

  p {
    margin: 0 !important;
    padding: 0 20px;
    line-height: 40px;
    color: $gray2;
    background-color: $darkGray2;
    border-radius: 7px;
  }

  &.has-button {
    input[type='text'] {
      width: -webkit-calc(100% - 200px);
      width: -moz-calc(100% - 200px);
      width: calc(100% - 200px);

      @include _bp(1680px) {
        width: -webkit-calc(100% - 130px);
        width: -moz-calc(100% - 130px);
        width: calc(100% - 130px);
      }
    }
    .btn-wrapper {
      margin-left: 10px;
    }
  }

  & + .text-wrap {
    margin-left: 10px;
  }
}

/*file*/
.file-attach {
  font-size: 0;

  .text-wrap {
    width: -webkit-calc(100% - 210px);
    width: -moz-calc(100% - 210px);
    width: calc(100% - 210px);
  }

  & + .file-attach {
    margin-top: 10px;
  }
}

.file-wrap {
  display: inline-block;
  width: 200px;
  height: 40px;
  line-height: 40px;
  margin-left: 10px;
  overflow: hidden;
  position: relative;

  label {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 7px;
    z-index: 10;
    background-color: $purple;

    em {
      display: inline-block;
      position: relative;
      color: $white;
      font-size: 1.7rem;
      line-height: 1;
      vertical-align: middle !important;
    }
  }
}

/*paging*/
.paging {
  width: 100%;
  text-align: center;
  font-size: 0;
  margin-top: 30px;

  * {
    display: inline-block;
  }

  a,
  span {
    position: relative;
    font-size: 1.8rem;
    margin: 0 5px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    border-radius: 5px;
    border: none;
  }

  span {
    color: $white;
    background-color: $green;
  }

  a {
    color: $gray2;

    &.first,
    &.prev,
    &.next,
    &.last {
      border: 1px solid $gray3;
      background-color: transparent;

      &::before {
        position: absolute;
        top: 50%;
        left: 50%;
        @include transform(translateX(-50%));
        @include icon;
        margin-top: -5px;
        content: '';
      }
    }

    &.first {
      margin: 0;

      &::before {
        @include icon-pg-first;
      }
    }

    &.prev {
      &::before {
        @include icon-pg-prev;
      }
    }

    &.next {
      &::before {
        @include icon-pg-next;
      }
    }

    &.last {
      margin: 0;

      &::before {
        @include icon-pg-last;
      }
    }
  }

  a:not(.first, .prev, .next, .last):hover,
  a:not(.first, .prev, .next, .last):focus,
  span {
    background-color: $green;
    color: $white;
  }
}

/*table*/
[class*='tbl-wrap'] {
  table {
    width: 100%;
    text-align: center;
    table-layout: fixed;

    th,
    td {
      height: 50px;
      font-size: 1.6rem;
      color: $white;
      padding: 5px 0;
    }

    th {
      background-color: $darkGray3;
    }

    td {
      border-bottom: 1px solid $darkGray3;

      &.tit {
        text-align: left;
        padding: 5px 25px;

        span {
          display: inline-block;
          width: 100%;

          a {
            display: inline-block;
            @include ellipsis;
            max-width: 92%;
          }

          &.caption {
            width: auto;
            line-height: 30px;
            padding: 0 15px;
            background-color: $gray3;
            border-radius: 30px;
            margin-right: 10px;
            font-size: 0;

            &.purple {
              background-color: $purple;
            }

            em {
              color: $white;
              font-size: 1.4rem;
            }

            & + span {
              width: -webkit-calc(100% - 100px);
              width: -moz-calc(100% - 100px);
              width: calc(100% - 100px);
            }
          }
        }
      }

      .notice {
        color: $green;
      }
    }
  }
}

/*calendar custom*/
.ui-widget {
  font-family: 'Noto Sans CJK KR', 'Noto Sans KR', '맑은 고딕', '나눔 고딕', sans-serif;
  font-size: 1.6rem;
}
