  @mixin icon { display: inline-block; background-image: url($sprite-url); background-repeat: no-repeat; background-size:176px
  174px; } .icon { @include icon; }

  @mixin icon-add--hover{ width:16px; height:16px; background-position:-137px
  -134px; } .icon-add--hover
  { @include icon-add--hover; }
  @mixin icon-add--tit{ width:22px; height:22px; background-position:-130px
  -54px; } .icon-add--tit
  { @include icon-add--tit; }
  @mixin icon-add{ width:16px; height:16px; background-position:-160px
  0px; } .icon-add
  { @include icon-add; }
  @mixin icon-arrow-down{ width:10px; height:6px; background-position:-160px
  -117px; } .icon-arrow-down
  { @include icon-arrow-down; }
  @mixin icon-arrow-right{ width:6px; height:10px; background-position:-160px
  -128px; } .icon-arrow-right
  { @include icon-arrow-right; }
  @mixin icon-arrow-up{ width:10px; height:6px; background-position:-160px
  -143px; } .icon-arrow-up
  { @include icon-arrow-up; }
  @mixin icon-build--hover{ width:17px; height:17px; background-position:-129px
  -108px; } .icon-build--hover
  { @include icon-build--hover; }
  @mixin icon-build--tit{ width:20px; height:20px; background-position:0px
  -134px; } .icon-build--tit
  { @include icon-build--tit; }
  @mixin icon-build{ width:17px; height:17px; background-position:-25px
  -134px; } .icon-build
  { @include icon-build; }
  @mixin icon-create-new{ width:61px; height:61px; background-position:0px
  0px; } .icon-create-new
  { @include icon-create-new; }
  @mixin icon-dot--hover{ width:19px; height:6px; background-position:-64px
  -95px; } .icon-dot--hover
  { @include icon-dot--hover; }
  @mixin icon-dot{ width:19px; height:6px; background-position:-88px
  -95px; } .icon-dot
  { @include icon-dot; }
  @mixin icon-eraser--hover{ width:25px; height:22px; background-position:-130px
  0px; } .icon-eraser--hover
  { @include icon-eraser--hover; }
  @mixin icon-eraser{ width:25px; height:22px; background-position:-130px
  -27px; } .icon-eraser
  { @include icon-eraser; }
  @mixin icon-finish{ width:14px; height:14px; background-position:-160px
  -61px; } .icon-finish
  { @include icon-finish; }
  @mixin icon-help{ width:18px; height:18px; background-position:-106px
  -108px; } .icon-help
  { @include icon-help; }
  @mixin icon-home{ width:14px; height:13px; background-position:-160px
  -99px; } .icon-home
  { @include icon-home; }
  @mixin icon-map--hover{ width:17px; height:15px; background-position:0px
  -159px; } .icon-map--hover
  { @include icon-map--hover; }
  @mixin icon-map--tit{ width:22px; height:19px; background-position:-53px
  -108px; } .icon-map--tit
  { @include icon-map--tit; }
  @mixin icon-map{ width:17px; height:15px; background-position:-22px
  -159px; } .icon-map
  { @include icon-map; }
  @mixin icon-notice--hover-2x{ width:59px; height:59px; background-position:-66px
  0px; } .icon-notice--hover-2x
  { @include icon-notice--hover-2x; }
  @mixin icon-notice--hover{ width:17px; height:17px; background-position:-47px
  -134px; } .icon-notice--hover
  { @include icon-notice--hover; }
  @mixin icon-notice{ width:17px; height:17px; background-position:-69px
  -134px; } .icon-notice
  { @include icon-notice; }
  @mixin icon-palette--hover{ width:25px; height:24px; background-position:-64px
  -66px; } .icon-palette--hover
  { @include icon-palette--hover; }
  @mixin icon-palette{ width:25px; height:24px; background-position:-94px
  -66px; } .icon-palette
  { @include icon-palette; }
  @mixin icon-pen--hover{ width:21px; height:21px; background-position:-130px
  -81px; } .icon-pen--hover
  { @include icon-pen--hover; }
  @mixin icon-pen{ width:21px; height:21px; background-position:0px
  -108px; } .icon-pen
  { @include icon-pen; }
  @mixin icon-pub--hover{ width:16px; height:15px; background-position:-160px
  -21px; } .icon-pub--hover
  { @include icon-pub--hover; }
  @mixin icon-pub--tit{ width:21px; height:19px; background-position:-80px
  -108px; } .icon-pub--tit
  { @include icon-pub--tit; }
  @mixin icon-pub{ width:16px; height:15px; background-position:-160px
  -41px; } .icon-pub
  { @include icon-pub; }
  @mixin icon-qna{ width:59px; height:37px; background-position:0px
  -66px; } .icon-qna
  { @include icon-qna; }
  @mixin icon-refresh--hover{ width:18px; height:16px; background-position:-91px
  -134px; } .icon-refresh--hover
  { @include icon-refresh--hover; }
  @mixin icon-refresh--tit{ width:22px; height:20px; background-position:-26px
  -108px; } .icon-refresh--tit
  { @include icon-refresh--tit; }
  @mixin icon-refresh{ width:18px; height:16px; background-position:-114px
  -134px; } .icon-refresh
  { @include icon-refresh; }
  @mixin icon-signout{ width:14px; height:14px; background-position:-160px
  -80px; } .icon-signout
  { @include icon-signout; }
