//variable

//color
$white: #fff;
$black: #000;
$softGray: #dadbdb;
$gray: #666;
$gray2: #9a9b9b;
$gray3: #555555;
$darkGray: #232524;
$darkGray2: #343736;
$darkGray3: #2f3130;
$darkGray4: #323635;
$darkGray5: #2d2f2e;
$green: #2dd085;
$purple: #513cf0;

//sprite url
$sprite-url: '../images/img-sprite.png';
