<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('./include/head.html')

    <title>메인 | 포스트 코로나 대응 MICE 온.오프라인연계전시.컨벤션 통합 지원 서비스 플랫폼</title>

    @@include('./include/header.html')
  </head>
  <body>
    @@include('./include/skipNav.html')

    <!-- SNB -->
    @@include('./include/snb.html')

    <!-- 본문 -->
    <!-- S #container -->
    <main id="container">
      <div class="inner">
        <!-- 타이틀 -->
        <header class="heading-title-Wrap">
          <h2>
            <i class="icon icon-add_1_5x"></i>
            &nbsp;&nbsp;새로운 맵 생성
          </h2>
          <span class="desc">기본 메타버스 행사 맵을 생성할 수 있습니다.</span>
        </header>

        <div class="contents">
          <!-- 목록 -->
        </div>
      </div>
    </main>
    <!-- E #container -->
  </body>
</html>
