<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../include/head.html')

    <title>나의 공간 테마 | 포스트 코로나 대응 MICE 온.오프라인연계전시.컨벤션 통합 지원 서비스 플랫폼</title>

    @@include('../include/header_sub.html')
  </head>
  <body>
    @@include('../include/skipNav.html')

    <!-- SNB -->
    @@include('../include/snb.html')

    <!-- 본문 -->
    <!-- S #container -->
    <main id="container">
      <div class="inner">
        <!-- 타이틀 -->
        <header class="heading-title-Wrap">
          <h2>
            <i class="icon icon-map--tit"></i>
            &nbsp;나의 공간 테마
          </h2>
          <span class="desc">기본 메타버스 행사 맵을 생성할 수 있습니다.</span>
        </header>

        <div class="contents">
          <!-- 탭 메뉴 -->
          <ul class="tab-menu">
            <li><a href="">활성 공간 테마</a></li>
            <li><a href="">비활성화 공간 테마</a></li>
            <li class="active"><a href="">전체 공간 테마</a></li>
          </ul>

          <!-- 목록 -->
          <div class="list-wrap">
            <ul class="grid-wrap col-5">
              <li class="grid-item">
                <div class="list-item">
                  <div class="thumb-box">
                    <a href="#">
                      <img src="../assets/images/sample/sample-thumb-1.jpg" alt="title 1" />
                    </a>
                  </div>
                  <div class="txt-box">
                    <a href="#"><em>title 1</em></a>
                    <div class="toolTipBox" tabindex="0">
                      <i class="icon icon-dot edit"><em class="hidden-txt">공간 테마 편집도구</em></i>
                      @@include('../include/tooltip2.html')
                    </div>
                  </div>
                </div>
              </li>
              <li class="grid-item">
                <div class="list-item">
                  <div class="thumb-box">
                    <span class="list-tag">
                      <i class="icon icon-finish"></i>
                      <em>퍼블리싱 완료</em>
                    </span>
                    <a href="#">
                      <img src="../assets/images/sample/sample-thumb-2.jpg" alt="title 2" />
                    </a>
                  </div>
                  <div class="txt-box">
                    <a href="#"><em>title 2</em></a>
                    <div class="toolTipBox" tabindex="0">
                      <i class="icon icon-dot edit"><em class="hidden-txt">공간 테마 편집도구</em></i>
                      @@include('../include/tooltip2.html')
                    </div>
                  </div>
                </div>
              </li>
              <li class="grid-item">
                <div class="list-item disabled">
                  <div class="thumb-box">
                    <a href="#">
                      <img src="../assets/images/sample/sample-thumb-3.jpg" alt="title 3" />
                    </a>
                  </div>
                  <div class="txt-box">
                    <a href="#"><em>title 3</em></a>
                    <div class="toolTipBox" tabindex="0">
                      <i class="icon icon-dot edit"><em class="hidden-txt">공간 테마 편집도구</em></i>
                      @@include('../include/tooltip3.html')
                    </div>
                  </div>
                </div>
              </li>
              @@for(var i = 4; i < 15; i++){
              <li class="grid-item">
                <div class="list-item">
                  <div class="thumb-box">
                    <a href="#">
                      <img src="../assets/images/sample/sample-thumb-`+i+`.jpg" alt="title `+i+`" />
                    </a>
                  </div>
                  <div class="txt-box">
                    <a href="#"><em>title `+i+`</em></a>
                    <div class="toolTipBox" tabindex="0">
                      <i class="icon icon-dot edit"><em class="hidden-txt">공간 테마 편집도구</em></i>
                      @@include('../include/tooltip2.html')
                    </div>
                  </div>
                </div>
              </li>
              }
            </ul>
          </div>

          <!-- 모달 -->
          <!-- 퍼블리싱 -->
          <div class="modal animate fast zoomOut" id="modal-mapPublishing">
            <div class="modal-header">
              <h4>
                <span class="hidden-txt">퍼블리싱</span>
                <i class="icon icon-notice--hover-2x"></i>
              </h4>
            </div>
            <div class="modal-body">
              <div class="modal-contents">
                <strong>퍼블리싱을 하겠습니까?</strong><br />
                <span>
                  퍼블리싱된 공간테마를 이용하여<br />
                  마이 룸에서 나만의 행사 룸을 만들 수 있습니다.
                </span>
              </div>
              <div class="btn-wrapper col-2">
                <button type="button" class="btn-close-modal"><em>취소</em></button>
                <button type="button" class="btn-green"><em>확인</em></button>
              </div>
            </div>
          </div>

          <!-- 공간 테마 이름 변경 -->
          <div class="modal type2 animate fast zoomOut" id="modal-mapNameUpdate">
            <div class="modal-header">
              <h4>
                <span>공간 테마 이름 변경</span>
              </h4>
            </div>
            <div class="modal-body">
              <div class="modal-contents">
                <label for="map-name">공간 테마 이름</label>
                <span class="txt-byte">
                  <input id="map-name" type="text" value="킨텍스_뷰티콘_005" />
                  <em>(20&#47;40)</em>
                </span>
              </div>
              <div class="btn-wrapper col-2">
                <button type="button" class="btn-close-modal"><em>취소</em></button>
                <button type="button" class="btn-green"><em>확인</em></button>
              </div>
            </div>
          </div>

          <!-- 공간 테마 삭제 -->
          <div class="modal animate fast zoomOut" id="modal-mapDelete">
            <div class="modal-header">
              <h4>
                <span class="hidden-txt">공간 테마 삭제</span>
                <i class="icon icon-notice--hover-2x"></i>
              </h4>
            </div>
            <div class="modal-body">
              <div class="modal-contents">
                <strong>공간 테마를 삭제하시겠습니까?</strong><br />
                <span>
                  삭제한 공간 테마는 복원이 불가능하며,<br />
                  퍼블리싱된 공간 테마도 함께 삭제가 됩니다
                </span>
              </div>
              <div class="btn-wrapper col-2">
                <button type="button" class="btn-close-modal"><em>취소</em></button>
                <button type="button" class="btn-green"><em>확인</em></button>
              </div>
            </div>
          </div>

          <!-- 공간 테마 비활성화 -->
          <div class="modal animate fast zoomOut" id="modal-mapDisabled">
            <div class="modal-header">
              <h4>
                <span class="hidden-txt">공간 테마 비활성화</span>
                <i class="icon icon-notice--hover-2x"></i>
              </h4>
            </div>
            <div class="modal-body">
              <div class="modal-contents">
                <strong>공간 테마를 비활성하시겠습니까?</strong><br />
                <span>
                  비활성화된 공간 테마는<br />
                  수정이 불가능 합니다
                </span>
              </div>
              <div class="btn-wrapper col-2">
                <button type="button" class="btn-close-modal"><em>취소</em></button>
                <button type="button" class="btn-green"><em>확인</em></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      @@include('../include/btnManual.html')
    </main>
    <!-- E #container -->
  </body>
</html>
