<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../include/head.html')

    <title>공지사항 | 포스트 코로나 대응 MICE 온.오프라인연계전시.컨벤션 통합 지원 서비스 플랫폼</title>

    @@include('../include/header_sub.html')
  </head>
  <body>
    @@include('../include/skipNav.html')

    <!-- SNB -->
    @@include('../include/snb.html')

    <!-- 본문 -->
    <!-- S #container -->
    <main id="container">
      <div class="inner">
        <!-- 타이틀 -->
        <header class="heading-title-Wrap">
          <h2>
            <i class="icon icon-board--tit"></i>
            &nbsp;공지사항
          </h2>
          <span class="desc">기본 메타버스 행사 맵을 생성할 수 있습니다.</span>
        </header>

        <div class="contents">
          <div class="view-wrap">
            <div class="view-header">
              <div class="table">
                <div><strong class="tit">3D에디터 행사 직사각 테이블 어셋 추가 안내</strong></div>
                <div class="col-100 align-r"><em>2023.02.10</em></div>
              </div>
            </div>
            <div class="view-body">
              <div class="view-contents">
                <p>다용도 전시 행사에 사용할 수 있는 직사각 테이블 어셋이 추가되었습니다.</p>
                <p>단독으로 4인용 직사각 테이블로 사용할 수 있고, 연이어 붙여서 8인용 직사각 테이블로도 사용할 수 있습니다.</p>
                <p>&nbsp;</p>
                <img src="../assets/images/sample/detail-sample-image.jpg" alt="상세 이미지" />
              </div>
            </div>
            <div class="btn-wrapper align-c">
              <button type="button"><em>목록</em></button>
            </div>
          </div>
        </div>
      </div>
      @@include('../include/btnManual.html')
    </main>
    <!-- E #container -->
  </body>
</html>
