<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../include/head.html')

    <title>새로운 맵 생성 | 포스트 코로나 대응 MICE 온.오프라인연계전시.컨벤션 통합 지원 서비스 플랫폼</title>

    @@include('../include/header_sub.html')
  </head>
  <body>
    @@include('../include/skipNav.html')

    <!-- SNB -->
    @@include('../include/snb.html')

    <!-- 본문 -->
    <!-- S #container -->
    <main id="container">
      <div class="inner">
        <!-- 타이틀 -->
        <header class="heading-title-Wrap">
          <h2>
            <i class="icon icon-add--tit"></i>
            &nbsp;새로운 맵 생성
          </h2>
          <span class="desc">기본 메타버스 행사 맵을 생성할 수 있습니다.</span>
        </header>

        <div class="contents">
          <!-- 목록 -->
          <ul class="grid-wrap col-5">
            @@include('../include/createNewMap-list.html')
          </ul>

          <!-- 모달 -->

          <!-- 새로운 맵 생성 -->
          <div class="modal animate fast zoomOut" id="modal-createNewModal">
            <div class="modal-header">
              <h4>
                <span class="hidden-txt">새로운 맵 생성</span>
                <i class="icon icon-notice--hover-2x"></i>
              </h4>
            </div>
            <div class="modal-body">
              <div class="modal-contents">
                <strong>새로운 맵을 생성하시겠습니까?</strong>
              </div>
              <div class="btn-wrapper col-2">
                <button type="button" class="btn-close-modal"><em>취소</em></button>
                <button type="button" class="btn-green"><em>확인</em></button>
              </div>
            </div>
          </div>
        </div>
      </div>
      @@include('../include/btnManual.html')
    </main>
    <!-- E #container -->
  </body>
</html>
