<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../include/head.html')

    <title>문의하기 | 포스트 코로나 대응 MICE 온.오프라인연계전시.컨벤션 통합 지원 서비스 플랫폼</title>

    @@include('../include/header_sub.html')
  </head>
  <body>
    @@include('../include/skipNav.html')

    <!-- SNB -->
    @@include('../include/snb.html')

    <!-- 본문 -->
    <!-- S #container -->
    <main id="container">
      <div class="inner">
        <!-- 타이틀 -->
        <header class="heading-title-Wrap">
          <h2>
            <i class="icon icon-board--tit"></i>
            &nbsp;문의하기
          </h2>
          <span class="desc">기본 메타버스 행사 맵을 생성할 수 있습니다.</span>
        </header>

        <div class="contents type-02">
          <div class="view-wrap">
            <div class="view-header">
              <dl>
                <dt>제목</dt>
                <dd>마이맵에서 삭제한 후 복원할 수 있나요?</dd>
              </dl>
              <dl>
                <dt>답변여부</dt>
                <dd>답변대기</dd>
              </dl>
              <dl class="wide">
                <dt>분류</dt>
                <dd>이용방법</dd>
              </dl>
              <dl>
                <dt>등록일</dt>
                <dd>2023.03.10 15:19:34</dd>
              </dl>
              <dl>
                <dt>수정일</dt>
                <dd>2023.03.11 14:05:25</dd>
              </dl>
              <dl class="wide">
                <dt>등록자</dt>
                <dd>메씨</dd>
              </dl>
            </div>
            <div class="view-body">
              <div class="view-contents">
                <!-- 내용 -->
                <p>비활성화된 맵을 삭제했습니다. 다시 복원가능한가요?</p>
              </div>

              <!-- 첨부파일 -->
              <div class="attached-files">
                <dl>
                  <dt>첨부파일</dt>
                  <dd>
                    <span><a href="#" download>전시공간.jpg</a></span>
                  </dd>
                </dl>
              </div>

              <!-- 답글 -->
              <div class="reply-wrap">
                <div class="r-head clear">
                  <div class="l-box"><strong>답변하기</strong></div>
                  <div class="r-box">
                    <span class="select-wrap default">
                      <label for="a"><em class="hidden-txt">노출여부</em></label>
                      <select name="" id="a">
                        <option value="aa">노출</option>
                        <option value="bb">비노출</option>
                      </select>
                    </span>
                    <span class="btn-wrapper">
                      <button type="button" class="sm2 border"><em>삭제</em></button>
                      <button type="button" class="sm2 border txtColor green"><em>취소</em></button>
                      <button type="button" class="sm2 btn-purple"><em>등록</em></button>
                    </span>
                  </div>
                </div>
                <div class="r-cts">
                  <dl>
                    <dt><strong>시스템관리자(MICE***)</strong></dt>
                    <dd>
                      <div class="text-wrap">
                        <textarea name="" id="" cols="30" rows="5"></textarea>
                      </div>
                    </dd>
                  </dl>
                </div>
              </div>
            </div>
            <div class="btn-wrapper align-c">
              <button type="button" class="btn-green"><em>목록</em></button>
            </div>
          </div>
        </div>
      </div>
      @@include('../include/btnManual.html')
    </main>
    <!-- E #container -->
  </body>
</html>
