<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../include/head.html')

    <title>공지사항 | 포스트 코로나 대응 MICE 온.오프라인연계전시.컨벤션 통합 지원 서비스 플랫폼</title>

    @@include('../include/header_sub.html')
  </head>
  <body>
    @@include('../include/skipNav.html')

    <!-- SNB -->
    @@include('../include/snb.html')

    <!-- 본문 -->
    <!-- S #container -->
    <main id="container">
      <div class="inner">
        <!-- 타이틀 -->
        <header class="heading-title-Wrap">
          <h2>
            <i class="icon icon-board--tit"></i>
            &nbsp;공지사항
          </h2>
          <span class="desc">기본 메타버스 행사 맵을 생성할 수 있습니다.</span>
        </header>

        <div class="contents">
          <!-- 등록 -->
          <div class="form-wrap">
            <dl class="table">
              <dt>제목</dt>
              <dd>
                <div class="text-wrap">
                  <input type="text" placeholder="제목을 입력해주세요" />
                </div>
              </dd>
            </dl>
            <dl class="table">
              <dt>예약일</dt>
              <dd>
                <div class="text-wrap inline calendar">
                  <input type="text" readonly />
                </div>
                <div class="text-wrap inline time">
                  <input type="text" readonly />
                </div>
              </dd>
            </dl>
            <dl class="table" style="margin: 30px 0">
              <dt>중요</dt>
              <dd>
                <div class="chk-wrap">
                  <span>
                    <input type="checkbox" id="Chk-a" />
                    <label for="Chk-a"><em>중요 등록</em></label>
                  </span>
                </div>
              </dd>
            </dl>
            <dl class="table">
              <dt>노출 여부</dt>
              <dd>
                <div class="select-wrap">
                  <select class="wide" title="노출 여부" name="" id="">
                    <option value="a">노출</option>
                    <option value="b">비노출</option>
                  </select>
                </div>
              </dd>
            </dl>
            <dl class="table v-top">
              <dt>내용</dt>
              <dd>
                <div class="text-wrap">
                  <textarea name="" id="" cols="30" rows="10" placeholder="내용을 입력해 주세요."></textarea>
                </div>
              </dd>
            </dl>
            <dl class="table v-top">
              <dt>첨부파일</dt>
              <dd>
                <div class="file-attach">
                  <span class="text-wrap">
                    <input type="text" class="fileName" title="파일명 및 확장자" disabled="" />
                  </span>
                  <span class="file-wrap">
                    <label for="file_01"><em>업로드</em></label>
                    <input
                      class="hidden-txt"
                      type="file"
                      id="file_01"
                      title="업로드"
                      onchange="gb.CommonFunction.fileUpload(this);"
                    />
                  </span>
                </div>
                <div class="file-attach">
                  <span class="text-wrap">
                    <input type="text" class="fileName" title="파일명 및 확장자" disabled="" />
                  </span>
                  <span class="file-wrap">
                    <label for="file_02"><em>업로드</em></label>
                    <input
                      class="hidden-txt"
                      type="file"
                      id="file_02"
                      title="업로드"
                      onchange="gb.CommonFunction.fileUpload(this);"
                    />
                  </span>
                </div>
                <div class="file-attach">
                  <span class="text-wrap">
                    <input type="text" class="fileName" title="파일명 및 확장자" disabled="" />
                  </span>
                  <span class="file-wrap">
                    <label for="file_03"><em>업로드</em></label>
                    <input
                      class="hidden-txt"
                      type="file"
                      id="file_03"
                      title="업로드"
                      onchange="gb.CommonFunction.fileUpload(this);"
                    />
                  </span>
                </div>
                <p>* pdf, ppt, doc, hwp, txt, zip 파일만 등록 가능하며 최대 3개까지 등록 가능 합니다.</p>
              </dd>
            </dl>

            <div class="btn-wrapper">
              <button type="button"><em>삭제</em></button>
              <button type="button" class="btn-purple" onclick="location.href='./manager_list.html'"><em>목록</em></button>
              <button type="button" class="btn-green"><em>등록</em></button>
            </div>
          </div>
        </div>
      </div>
      @@include('../include/btnManual.html')
    </main>
    <!-- E #container -->
  </body>
</html>
