<!DOCTYPE html>
<html lang="ko">
  <head>
    @@include('../include/head.html')

    <title>문의하기 | 포스트 코로나 대응 MICE 온.오프라인연계전시.컨벤션 통합 지원 서비스 플랫폼</title>

    @@include('../include/header_sub.html')
  </head>
  <body>
    @@include('../include/skipNav.html')

    <!-- SNB -->
    @@include('../include/snb.html')

    <!-- 본문 -->
    <!-- S #container -->
    <main id="container">
      <div class="inner">
        <!-- 타이틀 -->
        <header class="heading-title-Wrap">
          <h2>
            <i class="icon icon-board--tit"></i>
            &nbsp;문의하기
          </h2>
          <span class="desc">기본 메타버스 행사 맵을 생성할 수 있습니다.</span>
        </header>

        <div class="contents">
          <!-- 검색 -->
          <div class="form-wrap">
            <div class="grid-wrap">
              <dl class="table">
                <dt>검색어</dt>
                <dd>
                  <div class="text-wrap">
                    <input type="text" placeholder="검색어를 입력해주세요." />
                  </div>
                </dd>
              </dl>
            </div>
            <hr />
            <div class="grid-wrap col-2">
              <dl class="table">
                <dt>노출여부</dt>
                <dd>
                  <div class="select-wrap">
                    <select class="wide" title="노출여부" name="" id="">
                      <option value="all">전체</option>
                    </select>
                  </div>
                </dd>
              </dl>
              <dl class="table">
                <dt>답변상태</dt>
                <dd>
                  <div class="select-wrap">
                    <select class="wide" title="답변상태" name="" id="">
                      <option value="all">전체</option>
                    </select>
                  </div>
                </dd>
              </dl>
            </div>
            <div class="grid-wrap">
              <dl class="table v-top">
                <dt>등록일자</dt>
                <dd>
                  <div class="text-wrap inline calendar">
                    <input type="text" readonly />
                  </div>
                  <div class="text-wrap inline calendar">
                    <input type="text" readonly />
                  </div>
                  <div class="radio-list-wrap inline type-02">
                    <span>
                      <input type="radio" name="period" id="today" checked />
                      <label for="today"><em>Today</em></label>
                    </span>
                    <span>
                      <input type="radio" name="period" id="_1month" />
                      <label for="_1month"><em>1개월</em></label>
                    </span>
                    <span>
                      <input type="radio" name="period" id="_3months" />
                      <label for="_3months"><em>3개월</em></label>
                    </span>
                    <span>
                      <input type="radio" name="period" id="year" />
                      <label for="year"><em>1년</em></label>
                    </span>
                    <span>
                      <input type="radio" name="period" id="all" />
                      <label for="all"><em>전체</em></label>
                    </span>
                  </div>
                </dd>
              </dl>
            </div>
            <div class="btn-wrapper">
              <button type="button"><em>초기화</em></button>
              <button type="button" class="btn-green"><em>검색</em></button>
            </div>
          </div>

          <div class="tbl-wrap">
            <div class="tbl-header clear">
              <div class="txt-info l-box"><i class="icon icon-notice"></i>&nbsp; 전체 <b>19건</b>이 조회되었습니다.</div>
              <div class="filter-wrap r-box">
                <span>1페이지 출력수</span>
                <span class="select-wrap default">
                  <label for="pageOutputs"><em class="hidden-txt">1페이지 출력수 선택</em></label>
                  <select name="" id="pageOutputs">
                    <option value="10">10개 출력</option>
                    <option value="50">50개 출력</option>
                    <option value="100">100개 출력</option>
                  </select>
                </span>
              </div>
            </div>
            <table>
              <caption>
                문의하기(번호, 분류, 제목, 등록자, 등록일자, 답변자, 답변 여부, 담변일자로 구성된 표)
              </caption>
              <colgroup>
                <col style="width: 10%" />
                <col style="width: 10%" />
                <col style="width: auto" />
                <col style="width: 7%" />
                <col style="width: 15%" />
                <col style="width: 10%" />
                <col style="width: 7%" />
                <col style="width: 15%" />
              </colgroup>
              <thead>
                <tr>
                  <th scope="col">번호</th>
                  <th scope="col">분류</th>
                  <th scope="col">제목</th>
                  <th scope="col">등록자</th>
                  <th scope="col">등록일자</th>
                  <th scope="col">답변자</th>
                  <th scope="col">답변 여부</th>
                  <th scope="col">답변일자</th>
                </tr>
              </thead>
              <tbody>
                @@for(var i = 19; i > 9; i-- ){
                <tr>
                  <td>
                    <span>`+i+`</span>
                  </td>
                  <td>
                    <span>이용방법</span>
                  </td>
                  <td class="tit">
                    <span>
                      <a href="#">
                        어셋 복제는 어떻게 하나요 어셋 복제는 어떻게 하나요 어셋 복제는 어떻게 하나요 어셋 복제는 어떻게 하나요
                        어셋 복제는 어떻게 하나요
                      </a>
                      <em>[1]</em>
                    </span>
                  </td>
                  <td>
                    <span>메씨</span>
                  </td>
                  <td>
                    <span>2023.02.10 11:00</span>
                  </td>
                  <td>
                    <span>시스템관리자</span>
                  </td>
                  <td>
                    <span>답변완료</span>
                  </td>
                  <td>
                    <span>2023.04.10 12:00</span>
                  </td>
                </tr>
                }
              </tbody>
            </table>
            <!-- 페이징 -->
            <div class="paging">
              <a href="#" class="first"><em class="hidden-txt">첫 페이지</em></a>
              <a href="#" class="prev"><em class="hidden-txt">이전 페이지</em></a>
              <span>1</span>
              <a href="#">2</a>
              <a href="#">3</a>
              <a href="#">4</a>
              <a href="#">5</a>
              <a href="#" class="next"><em class="hidden-txt">다음 페이지</em></a>
              <a href="#" class="last"><em class="hidden-txt">마지막 페이지</em></a>
            </div>

            <div class="btn-wrapper align-r">
              <button type="button" class="btn-green"><em>글 작성</em></button>
            </div>
          </div>
        </div>
      </div>
      @@include('../include/btnManual.html')
    </main>
    <!-- E #container -->
  </body>
</html>
